body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    /* text-align: center; */
  }

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}